<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>鲁棒人工智能</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/title.css">
    <link rel="stylesheet" href="../static/css/button.css">
    <link rel="stylesheet" href="../static/css/progress.css">
    <link rel="stylesheet" href="../static/css/detect.css">
    <script src="https://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>

</head>

<body>
    <div class="header">鲁棒人工智能</div>
    <div class="body">
        <div class="menu">
            <div class="menu-image">
                <div class="menu-tile">选择/上传图片</div>
                <!-- <button onclick="select_image()">选择图片</button> -->

                <!-- <button onclick="upload_image()" id="upload_image" >上传图片</button> -->
                <button onclick="upload_image()">上传图片</button>
            </div>
            <div class="menu-manual_procedure">
                <div class="menu-tile">手动控制</div>
                <button onclick="">原始模型</button>
                <button onclick="robust_model()">鲁棒模型</button>
                <button onclick="">重建防御</button>
                <button onclick="">对抗检测</button>
            </div>
            <div class="menu-auto_procedure">
                <div class="menu-tile">自动控制</div>
                <button onclick="">全流程防御</button>
                <button onclick="">物理世界平台</button>
            </div>

        </div>
        <div class="display">
            <div class="result" id="original">
                <img id="original_image" alt="原始样本" src="../static/default.png">
                <div class="detect-container">
                    <div class="detect">
                        <div class="reviews-container-title"><span>对抗风险评估</span></div>
                        <div class="factor">
                            <img class="factor_img" src="../static/simile.png"></img>
                        </div>
                        <div class="detect_text">
                            <span class="sample">该样本检测为 <span class="sample-classify">对抗样本</span></span>
                            <span class="risk_factor">对抗风险系数 <span class="risk_factor-value">00.00</span>%</span>
                        </div>
                    </div>
                </div>
                <!-- https://www.html5tricks.com/css3-rank-bar.html -->
                <div class="reviews-container" id="originalImage-originalModel">
                    <div class="reviews-container-title"><span>原始模型输出</span></div>
                    <div class="review" id="airplane">
                        <span class="icon-container">飞机 <i class="fas fa-star"></i></span>
                        <div class="progress">
                            <div class="progress-done" data-done="0"></div>
                        </div>
                        <span class="percent">0</span>%
                    </div>
                    <div class="review" id="automobile">
                        <span class="icon-container">汽车 <i class="fas fa-star"></i></span>
                        <div class="progress">
                            <div class="progress-done" data-done="0"></div>
                        </div>
                        <span class="percent">0</span>%
                    </div>
                    <div class="review" id="cargo_ship">
                        <span class="icon-container">货船 <i class="fas fa-star"></i></span>
                        <div class="progress">
                            <div class="progress-done" data-done="0"></div>
                        </div>
                        <span class="percent">0</span>%
                    </div>
                    <div class="review" id="castle">
                        <span class="icon-container">城堡 <i class="fas fa-star"></i></span>
                        <div class="progress">
                            <div class="progress-done" data-done="0"></div>
                        </div>
                        <span class="percent">0</span>%
                    </div>
                    <div class="review" id="cg_ddg">
                        <span class="icon-container">战舰 <i class="fas fa-star"></i></span>
                        <div class="progress">
                            <div class="progress-done" data-done="0"></div>
                        </div>
                        <span class="percent">0</span>%
                    </div>
                    <div class="review" id="char">
                        <span class="icon-container">椅子 <i class="fas fa-star"></i></span>
                        <div class="progress">
                            <div class="progress-done" data-done="0"></div>
                        </div>
                        <span class="percent">0</span>%
                    </div>
                    <div class="review" id="cruise_ship">
                        <span class="icon-container">邮轮 <i class="fas fa-star"></i></span>
                        <div class="progress">
                            <div class="progress-done" data-done="0"></div>
                        </div>
                        <span class="percent">0</span>%
                    </div>
                    <div class="review" id="cvn">
                        <span class="icon-container">航母 <i class="fas fa-star"></i></span>
                        <div class="progress">
                            <div class="progress-done" data-done="0"></div>
                        </div>
                        <span class="percent">0</span>%
                    </div>
                    <div class="review" id="monitor">
                        <span class="icon-container">屏幕 <i class="fas fa-star"></i></span>
                        <div class="progress">
                            <div class="progress-done" data-done="0"></div>
                        </div>
                        <span class="percent">0</span>%
                    </div>
                    <div class="review" id="tanker_ship">
                        <span class="icon-container">油船 <i class="fas fa-star"></i></span>
                        <div class="progress">
                            <div class="progress-done" data-done="0"></div>
                        </div>
                        <span class="percent">0</span>%
                    </div>
                </div>
                <div class="reviews-container" id="originalImage-robustModel">
                    <div class="reviews-container-title"><span>鲁棒模型输出</span></div>
                    <div class="review" id="airplane">
                        <span class="icon-container">飞机 <i class="fas fa-star"></i></span>
                        <div class="progress">
                            <div class="progress-done" data-done="0"></div>
                        </div>
                        <span class="percent">0</span>%
                    </div>
                    <div class="review" id="automobile">
                        <span class="icon-container">汽车 <i class="fas fa-star"></i></span>
                        <div class="progress">
                            <div class="progress-done" data-done="0"></div>
                        </div>
                        <span class="percent">0</span>%
                    </div>
                    <div class="review" id="cargo_ship">
                        <span class="icon-container">货船 <i class="fas fa-star"></i></span>
                        <div class="progress">
                            <div class="progress-done" data-done="0"></div>
                        </div>
                        <span class="percent">0</span>%
                    </div>
                    <div class="review" id="castle">
                        <span class="icon-container">城堡 <i class="fas fa-star"></i></span>
                        <div class="progress">
                            <div class="progress-done" data-done="0"></div>
                        </div>
                        <span class="percent">0</span>%
                    </div>
                    <div class="review" id="cg_ddg">
                        <span class="icon-container">战舰 <i class="fas fa-star"></i></span>
                        <div class="progress">
                            <div class="progress-done" data-done="0"></div>
                        </div>
                        <span class="percent">0</span>%
                    </div>
                    <div class="review" id="char">
                        <span class="icon-container">椅子 <i class="fas fa-star"></i></span>
                        <div class="progress">
                            <div class="progress-done" data-done="0"></div>
                        </div>
                        <span class="percent">0</span>%
                    </div>
                    <div class="review" id="cruise_ship">
                        <span class="icon-container">邮轮 <i class="fas fa-star"></i></span>
                        <div class="progress">
                            <div class="progress-done" data-done="0"></div>
                        </div>
                        <span class="percent">0</span>%
                    </div>
                    <div class="review" id="cvn">
                        <span class="icon-container">航母 <i class="fas fa-star"></i></span>
                        <div class="progress">
                            <div class="progress-done" data-done="0"></div>
                        </div>
                        <span class="percent">0</span>%
                    </div>
                    <div class="review" id="monitor">
                        <span class="icon-container">屏幕 <i class="fas fa-star"></i></span>
                        <div class="progress">
                            <div class="progress-done" data-done="0"></div>
                        </div>
                        <span class="percent">0</span>%
                    </div>
                    <div class="review" id="tanker_ship">
                        <span class="icon-container">油船 <i class="fas fa-star"></i></span>
                        <div class="progress">
                            <div class="progress-done" data-done="0"></div>
                        </div>
                        <span class="percent">0</span>%
                    </div>
                </div>
            </div>
            <div class="result" id="reconstructed">
                <img id="original_image" alt="重建样本" src="../static/default.png">
                <div class="detect-container"></div>
                <div class="reviews-container" id="reconstructedImage-originalModel">
                    <div class="reviews-container-title"><span>原始模型输出</span></div>
                    <div class="review" id="airplane">
                        <span class="icon-container">飞机 <i class="fas fa-star"></i></span>
                        <div class="progress">
                            <div class="progress-done" data-done="0"></div>
                        </div>
                        <span class="percent">0</span>%
                    </div>
                    <div class="review" id="automobile">
                        <span class="icon-container">汽车 <i class="fas fa-star"></i></span>
                        <div class="progress">
                            <div class="progress-done" data-done="0"></div>
                        </div>
                        <span class="percent">0</span>%
                    </div>
                    <div class="review" id="cargo_ship">
                        <span class="icon-container">货船 <i class="fas fa-star"></i></span>
                        <div class="progress">
                            <div class="progress-done" data-done="0"></div>
                        </div>
                        <span class="percent">0</span>%
                    </div>
                    <div class="review" id="castle">
                        <span class="icon-container">城堡 <i class="fas fa-star"></i></span>
                        <div class="progress">
                            <div class="progress-done" data-done="0"></div>
                        </div>
                        <span class="percent">0</span>%
                    </div>
                    <div class="review" id="cg_ddg">
                        <span class="icon-container">战舰 <i class="fas fa-star"></i></span>
                        <div class="progress">
                            <div class="progress-done" data-done="0"></div>
                        </div>
                        <span class="percent">0</span>%
                    </div>
                    <div class="review" id="char">
                        <span class="icon-container">椅子 <i class="fas fa-star"></i></span>
                        <div class="progress">
                            <div class="progress-done" data-done="0"></div>
                        </div>
                        <span class="percent">0</span>%
                    </div>
                    <div class="review" id="cruise_ship">
                        <span class="icon-container">邮轮 <i class="fas fa-star"></i></span>
                        <div class="progress">
                            <div class="progress-done" data-done="0"></div>
                        </div>
                        <span class="percent">0</span>%
                    </div>
                    <div class="review" id="cvn">
                        <span class="icon-container">航母 <i class="fas fa-star"></i></span>
                        <div class="progress">
                            <div class="progress-done" data-done="0"></div>
                        </div>
                        <span class="percent">0</span>%
                    </div>
                    <div class="review" id="monitor">
                        <span class="icon-container">屏幕 <i class="fas fa-star"></i></span>
                        <div class="progress">
                            <div class="progress-done" data-done="0"></div>
                        </div>
                        <span class="percent">0</span>%
                    </div>
                    <div class="review" id="tanker_ship">
                        <span class="icon-container">油船 <i class="fas fa-star"></i></span>
                        <div class="progress">
                            <div class="progress-done" data-done="0"></div>
                        </div>
                        <span class="percent">0</span>%
                    </div>
                </div>
                <div class="reviews-container" id="reconstructedImage-robustModel">
                    <div class="reviews-container-title"><span>鲁棒模型输出</span></div>
                    <div class="review" id="airplane">
                        <span class="icon-container">飞机 <i class="fas fa-star"></i></span>
                        <div class="progress">
                            <div class="progress-done" data-done="0"></div>
                        </div>
                        <span class="percent">0</span>%
                    </div>
                    <div class="review" id="automobile">
                        <span class="icon-container">汽车 <i class="fas fa-star"></i></span>
                        <div class="progress">
                            <div class="progress-done" data-done="0"></div>
                        </div>
                        <span class="percent">0</span>%
                    </div>
                    <div class="review" id="cargo_ship">
                        <span class="icon-container">货船 <i class="fas fa-star"></i></span>
                        <div class="progress">
                            <div class="progress-done" data-done="0"></div>
                        </div>
                        <span class="percent">0</span>%
                    </div>
                    <div class="review" id="castle">
                        <span class="icon-container">城堡 <i class="fas fa-star"></i></span>
                        <div class="progress">
                            <div class="progress-done" data-done="0"></div>
                        </div>
                        <span class="percent">0</span>%
                    </div>
                    <div class="review" id="cg_ddg">
                        <span class="icon-container">战舰 <i class="fas fa-star"></i></span>
                        <div class="progress">
                            <div class="progress-done" data-done="0"></div>
                        </div>
                        <span class="percent">0</span>%
                    </div>
                    <div class="review" id="char">
                        <span class="icon-container">椅子 <i class="fas fa-star"></i></span>
                        <div class="progress">
                            <div class="progress-done" data-done="0"></div>
                        </div>
                        <span class="percent">0</span>%
                    </div>
                    <div class="review" id="cruise_ship">
                        <span class="icon-container">邮轮 <i class="fas fa-star"></i></span>
                        <div class="progress">
                            <div class="progress-done" data-done="0"></div>
                        </div>
                        <span class="percent">0</span>%
                    </div>
                    <div class="review" id="cvn">
                        <span class="icon-container">航母 <i class="fas fa-star"></i></span>
                        <div class="progress">
                            <div class="progress-done" data-done="0"></div>
                        </div>
                        <span class="percent">0</span>%
                    </div>
                    <div class="review" id="monitor">
                        <span class="icon-container">屏幕 <i class="fas fa-star"></i></span>
                        <div class="progress">
                            <div class="progress-done" data-done="0"></div>
                        </div>
                        <span class="percent">0</span>%
                    </div>
                    <div class="review" id="tanker_ship">
                        <span class="icon-container">油船 <i class="fas fa-star"></i></span>
                        <div class="progress">
                            <div class="progress-done" data-done="0"></div>
                        </div>
                        <span class="percent">0</span>%
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>

<script src="../static/js/image.js"></script>
<script src="../static/js/progress.js"></script>
<script src="../static/js/model.js"></script>



</html>